.header-container {
  width: 100%;
}
.header-wrapper {
  width: 100%;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 4, 97);
}

.title-wrapper {
  display: flex;
  font-size: 30px;
  padding-top: 8px;
  margin-left: 20px;
}

#title-logo {
  margin-right: 15px;
}
.title-name {
  color: white;
}

/*searchbar*/

.header-searchbar {
  display: flex;
  width: 46%;
  justify-content: space-between;
}

.header-select {
  margin-top: 16px;
  margin-left: 5px;
  margin-right: -10px;
}
.searchbar-input {
  margin-top: 15px;
}
.searchInputField {
  width: 30.8rem;
  margin-right: 2px;
  height: 41px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-icon {
  margin-top: 18px;
  color: white;
  font-size: 30px;
  margin-right: 8px;
  margin-bottom: 10px;
}

/*cart*/

.header-cart {
  margin-top: 5px;
}

/*account*/

.header-user-account {
  margin-right: 20px;
}

.user-account {
  font-size: 2.5rem;
  color: white;
}
