.header-container {
  width: 100%;
}
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(6, 4, 97);
}

.title-wrapper {
  display: flex;
  font-size: 30px;
  padding-top: 8px;
  margin-left: 20px;
}

#title-logo {
  margin-right: 20px;
}
.title-name {
  color: white;
}

/*searchbar*/

.header-searchbar {
  display: flex;
  width: 44%;
  justify-content: space-between;
}

.header-select {
  margin-top: 20px;
}
.searchbar-input {
  margin-top: 15px;
}
.searchInputField {
  width: 30rem;
  margin-left: 2px;
  margin-right: 2px;
  height: 40px;
  border-radius: 15px;
}
.searchInputField:hover {
  focus: auto;
}

.search-icon {
  margin-top: 20px;
  color: white;
  font-size: 30px;

  margin-right: 8px;
  margin-bottom: 10px;
}

/*cart*/

.header-cart {
  margin-top: 5px;
}

/*account*/

.header-user-account {
  margin-right: 20px;
}

.user-account {
  font-size: 3rem;
  color: white;
}
