.carousel-product-card {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.carousel-product-img {
  width: 280px;
  height: 330px;
}
.carousel-product-bottom {
  display: flex;
  justify-content: space-between;
}
